{% extends "index.html" %}

{% block title %}
{{ home_title }}
{% end %}

{% block articles %}
    {% for article in articles %}
    <div class=article>
        <h2>
            <a href="/article/{{ article.id }}">{{ escape(article.title) }}</a>
            {% if isAdmin %}
            <small><a href="/article/edit/{{ article.id }}">[编辑]</a></small>
            {% end %}
            <small class="time">{{ article.time.date() }}</small>
        </h2>
        <hr />
        <p class=labels>
        <span>标签:&nbsp;&nbsp;</span>
        {% for label in article.labels %}
        <a href="/search?key={{ escape(label.detail) }}" class="label label-info">{{ escape(label.detail) }}</a>
        {% end %}
        </p>
        <div class="content_html">{{ article.content_html }}</div>
        <br />
        <a href="/article/{{ article.id }}#footer">评&nbsp;&nbsp;论</a>
    </div>
    {% end %}
{% end %}

{% block page %}
<div id="page">
    <span id="previous">
        {% if page.has_previous() %}
        <button class="btn btn-primary" type="button" onclick="search('&page={{ page.previous_page_number() }}');">上一页</button>
        {% else %}
        <button class="btn btn-primary" type="button" disabled="disabled">上一页</button>
        {% end %}
    </span>
    <span id="next">
        {% if page.has_next() %}
        <button class="btn btn-primary" type="button" onclick="search('&page={{ page.next_page_number() }}');">下一页</button>
        {% else %}
        <button class="btn btn-primary" type="button" disabled="disabled">下一页</button>
        {% end %}
    </span>
</div>    
{% end %}
